.vldfont {
    font-size: 13px;
    color: #FF8F80;
    margin-top: 3px;
}

.vldfont2 {
    font-size: 13px;
    color: #1BC385;
    margin-top: 3px;
}

.vldfont3 {
    font-size: 15px;
    color: #4A6EDB;
    margin-top: 3px;
}